@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body {
  color: #808085;
  background: #ebebeb;
}

/* Styling for AUTH component */

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

.app-title {
  /* font-family: "Great Vibes", cursive; */
  font-size: 3.5rem;
  margin-top: 6rem;
}

.auth-route {
  margin-top: 1rem;
  text-align: center;
  color: #7b5bf2;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: #7b5bf2;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #ebebeb;
}

* {
  box-sizing: border-box;
}

#cnfpassword {
  margin-bottom: 3rem;
}

.conditions {
  display: flex;
}

.navbar {
  margin-right: -100px;
}

.login-btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* End of Styling for AUTH component */

/* Styling for HOME component */

.home-cover {
  height: 100vh;
  width: 100%;
}

.home-layout {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.home-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: white;
}

.home-text {
  padding-bottom: 1rem;
  max-width: 28rem;
}

.heroImage {
  border-radius: 1rem;
  margin-left: 4.5rem;
  margin-right: auto;
  width: 67%;
}

/* Styling for the Navbar component */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* background-image: linear-gradient(to bottom, #000000, #1a1a1a); */
  background-color: #09184d;
}

ul {
  list-style: none;
}



.nav-items {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
  transition-duration: 300ms;
}

.nav-image {
  border-radius: 2rem;
  margin-top: auto;
  padding-top: 105px;
}

.icon-options {
  cursor: pointer;
  padding-right: 1rem;
  z-index: 10;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.nav-mobile-items {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  text-transform: capitalize;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.nav-bar {
  height: 60px;
  width: 100%;
  background-color: #09184d;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
  position: sticky;
}

.menu-bar {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
}

.title-admin {
  color: #000;
  font-size: 1.2rem;
  padding-left: 30px;
}

/* End of styling of the Navbar component */

/* Styling of About Component */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 3.5rem;
}

.about-image {
  margin-top: 1rem;
  border-radius: 2rem;
  margin-left: 4.5rem;
  margin-right: auto;
  width: 100%;
}

.about_us {
  background-color: #ADACB5;
  color: black;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mission_vision {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.image_values {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.mission_container {
  border-bottom: 0.5rem solid #ADACB5;
  box-shadow: 3px 2px #ADACB5;
  margin: 1rem 3rem;
  padding: 1rem 3rem;
}

.mission {
  font-weight: 500;
  font-size: x-large;
}

.vision_container {
  border-bottom: 0.5rem solid #ADACB5;
  box-shadow: 3px 2px #ADACB5;
  margin: 1rem 3rem;
  padding: 1rem 3rem;

}

.vision {
  font-weight: 500;
  font-size: x-large;
}

/*End of About Component */

/* Styling Book Component */
.book-container {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding-top: 15rem;
}

.book-wrapper {
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  background-color: white;
}

.book-route {
  width: 100%;
  margin-top: 1.25rem;
}

/* End of styling Book component */

/* Styling of Info component */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.info-wrapper {
  border: 2px solid #09184d;
  padding: 50px;
}

/* End of styling */

/* Styling for media adaptivity */

/* @media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
} */

@media (min-width: 768px) {
  .home-layout {
    flex-direction: row;
  }
}

@media (min-width: 640px) {
  .home-title {
    font-size: 3.5rem;
    line-height: 1;
  }
}

@media (min-width: 768px) {}

.heroImage {
  width: 100%;
}

@media (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

@media (min-width: 768px) {
  .icon-options {
    display: none;
  }
}

@media (min-width: 640px) {
  .book-route {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .book-route {
    max-width: 768px;
  }
}

@media (min-width: 640px) {
  .controller {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .controller {
    max-width: 768px;
  }
}


/* Step Styling */
.step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;
}

.step-layout {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.alt-wrapper {
  display: flex;
  align-items: center;
}

.step-items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: teal;
}

.dis-num {
  border-radius: 10px;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  border: 2px solid gray;
  /* height: 3rem; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.dis-desc {
  position: absolute;
  top: 0px;
  text-align: center;
  margin-top: 4rem;
  width: 8rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.dis-line {
  flex: 1 1 auto;
  border-top-width: 1rem;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.controller {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.bck-btn {
  background: white;
  color: gray;
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  border-width: 2px;
  border-color: gray;
}

.bck-btn:hover {
  background-color: gray;
  color: white;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.nxt-btn {
  background: blue;
  color: white;
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.75rem;
  font-weight: 600;
  cursor: pointer;
}

.nxt-btn:hover {
  background: gray;
  color: white;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

/* syling the table for displaying routes on home page */
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: centre;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.thead {


  background: 'green';
  color: 'white';


}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.1em;
  min-width: 900px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
}

.content-table thead tr {
  background-color: rgb(215, 221, 221);
  color: #000000;
  text-align: center;
  font-weight: bold;
}


.content-table tr {
  padding: 12px 30px;
}

.content-table tbody tr:last-of-type {

  border-bottom: 3px solid wheat;
}

.if-select {
  background: green;
  color: white;
  font-weight: 700;
  border: 1px solid green;
}

.unknown {
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.des-co {
  color: #000;
}

.des-co2 {
  color: gray;
}

.line-co {
  background: green;
}

.line-co2 {
  background: gray;
}

.bck-click {
  opacity: 0.5;
  cursor: not-allowed;
}

.context {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 2.5rem;
}

.info {
  color: #000;
}

.contact-container {
  background-color: black;
  text-align: center;
  justify-content: center;
  font-size: 1em;

}

/* //stylying footer */
.footer {
  background-color: rgb(24, 2, 2);
  height: 160px;

  text-align: center;
  justify-content: center;
}

/* .icons{
  size: 10px;
  
  
} */
.list {
  float: right;
}

.icons_container {
  display: flex;
  justify-content: space-between;
}

/*STYLING CONTACT US PAGE */


.--align-center {
  display: flex;
  align-items: center;
}


/* Center Text */
.--text-center {
  text-align: center;
}

.--form-control input {
  font-size: 1rem;
  font-weight: 100;
  padding: 5px 1rem;
  border: 1px solid #777;
  border-radius: 10px;
  /* outline: none; */
  width: 250px;
  margin-bottom: 150;
  /* background-color: transparent; */

}




.message-here {
  height: 150px;
  width: 400px;
  height: 100px;
  font-size: large;
  background-color: rgb(238, 231, 231);
}

.btn--btn {
  color: beige;
  background-color: rgb(54, 51, 63);
  position: relative;
  width: 150px;
  align-self: hover;
  font-size: medium;



}

/* .container{
  background-color: #f19a0c;
  width: min-content;
  size-adjust: 100px;
  align-self: inherit;
  margin-left: 100px;
} */


/* .module { margin-bottom: 2em;
   color: white;
    font-size: 1.25em;
     font-weight: 600;
      text-transform: lowercase;
       text-align: left;
      text-decoration: aqua; }  */

html,
body,
#body *,
#footer * {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  outline: 0;
}

/* FontAwesome */
@font-face {
  font-family: "FontAwesome";
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Queries */
/* Min */
/* @media (min-width: 0) { */
/* html {
    font-size: 30%;
  } */

/* body{ min-width: 200px; background: #f0f0ef; }  */

/* #page{ padding: 4em; background: #fff; } 
						#page > h2{ color: #444; font-size: 1.25em; font-weight: 600; text-transform: uppercase; } 
						#page > p{ margin-top: 2em; line-height: 1.25; } */
/* #footer {
    background: black;
    height: 40%;
  } */

/* #cta{ padding: 4em; background: #350f55; } 
						#cta > h2{ color: #fff; font-size: 2em; font-weight: 600; text-transform: uppercase; text-align: center; } 
						#cta > p{ margin-top: 1em; color: #ddd; text-align: center; line-height: 1.5; } 
						#cta > form{ margin: 0 auto; margin-top: 2em; max-width: 40em; } 
							#cta > form{ position: relative; } 
								#cta > form > input[type=text]{ padding: 1em; padding-right: 7em; width: 100%; height: 4em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } 
								#cta > form > input[type=submit]{ position: absolute; top: 0; right: 0; bottom: 0; padding: 1em; height: 4em; color: #fff; font-weight: 600; background: #fe9909; border: 0; cursor: pointer; } 
								#cta > form > input[type=submit]:hover{ background: #fdca40; }  */


/* } */

.maincard {
  height: 700px;
  background-color: #000000;
}

h1,
h2,
h3,
.home-title,
.mission,
.vision {
  color: #2f2e2e;
}

.row .icons {
  flex: 30%;
  display: grid;
  place-items: center;
  color: #fff;
}

.row .title {
  flex: 70%;
}
.sidebar-list {
  width: 100%;
  padding: 0;
}
.sidebar-list .row {
  height: 100px;
  text-decoration: none;
  display: flex;
  font-size: 1.2rem;
  flex-direction: row;
  color:#fff;
  align-items: center;
}

.sidebar-list .row:hover {
  cursor: pointer;
  background-color: #7b5bf2;
 
}
.sidebar-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.side-bar {
  height: calc(100vh - 60px);
  width: 240px;
  background-color:#09184d;
  
}
.admin-nav {
  margin-left: 5rem;
    background-color: white;
    min-width: calc(100vw - 240px);
    grid-column: span 10 / span 10;
    height: calc(100vh - 60px);
    overflow: scroll;
}